# Created by .ignore support plugin (hsz.mobi)
### OpenCart template
/config.php
admin/config.php
.idea/*

download/
image/cache/*
system/cache/*
system/logs/*
system/modification/*

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache
/image/catalog/Slider/*


.htaccess